*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


  main {
    min-height: 75vh;
  }
  footer {
   
    width: 100%;
    min-height:10vh;
   }

   .bg-black{
    background-color: black;
   }

   .border-circle{
    border-radius: 50%;
   }

   #carouselHome{
    background: url(../img/Cinema.jpg);
    background-size: cover;
    background-position: center;
   }